.Space {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(8, 0, 58, 0.5), rgba(8, 0, 58, 0.5)),
    url("../../assets/space.png");
  background-size: cover;
  background-position: center;
  color: #fff;
}
