.techstack-container {
  color: #fff;
  padding: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .techstack-table-wrapper {
    display: flex;
    justify-content: center;
  }
  
  .techstack-table {
    border-spacing: 20px;
  }
  
  .techstack-table td {
    text-align: center;
    width: 100px;
    font-size: 0.9rem;
    font-weight: 500;
    color: white;
  }
  
  .techstack-table img {
    width: 48px;
    height: 48px;
    object-fit: contain;
    transition: transform 0.3s ease;
  }
  
  .techstack-table img:hover {
    transform: scale(1.2);
  }
  